@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    font-family: sans-serif;

    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    
}

nav {
    text-align: right;
    margin-right: 60px;

    margin-top: 20px;
}

.nav-links {
    font-size: 1.5rem;
    text-transform: uppercase;
    /* letter-spacing: 2px; */

    text-decoration: none;
    color: white;
    padding-left: 20px;
    
    

}

/* .nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 2;
    background: #fff;
    transition: width .3s;
}

.nav-links:hover {
    width: 100%;
    transition: width .3s;
} */


.logo{
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
    /* border-radius: 24px; */
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);
    
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.block-1 {
    margin-top: 1000px;
    height: 350px;
    width: 60%;
    display: block;
    border: solid 3px whitesmoke;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(0, 0, 0, 0.2);

    -webkit-box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);
}

.block-2 {

    height: 350px;
    width: 60%;
    display: block;
    border: solid 3px whitesmoke;
    margin-left: auto;
    margin-right: auto;

    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.2);

    -webkit-box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);

    
}



.block-3 {

    height: 350px;
    width: 60%;
    display: block;
    border: solid 3px whitesmoke;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 20px 40px 20px rgba(34, 60, 80, 0.3);

    
    
    
}

.copyright {
    background-color: #fff;
    color: black;
    text-align: right;
    padding-right: 40px;
    margin-top: 100px;
}

ul { 
    margin: 20px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;

    
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    
    display: inline-block;
    padding: 15px 10px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.block-1 {
    text-align: right;
    padding: 10px 20px;

}

.block-2 {
    text-align: right;
    padding: 10px 20px;
    
}

.block-3 {
    text-align: right;
    padding: 10px 20px;
    
}

.block-content {
    padding-top: 10px;
}
